@model IEnumerable<Claim>

<div id="welcome">
    <div class="dash">
        <span class="title">Claims</span>
        <span class="subtitle">Select a claim to view contents</span>
        <div class="file-explorer">
            <div class="file-explorer">
                @foreach (var claim in Model)
                {
                    <div class="file-item">
                        <span class="file-name">Claim: @claim.FileName</span>
                        <span>Hours Worked: @claim.HoursWorked</span>
                        <span>Hourly Rate: @claim.HourlyRate</span>
                        <span>Additional Notes: @claim.Notes</span>
                        <a href="@Url.Content("~/uploads/" + claim.FileName)" target="_blank">View File</a>
                    </div>
                }
            </div>

    </div>
</div>



@* <div id="welcome">
    <div class="dash">
        <form class="form">
            <span class="title">Claims</span>
            <span class="subtitle">Select a claim to view contents</span>
            <div class="file-explorer">
                <div class="file-item">
                    <img src="path/to/icon1.png" alt="File Icon">
                    <span class="file-name">File 1</span>
                </div>
                <div class="file-item">
                    <img src="path/to/icon2.png" alt="File Icon">
                    <span class="file-name">File 2</span>
                </div>
                <div class="file-item">
                    <img src="path/to/icon3.png" alt="File Icon">
                    <span class="file-name">File 3</span>
                </div>
                <div class="file-item">
                    <img src="path/to/icon4.png" alt="File Icon">
                    <span class="file-name">File 4</span>
                </div>
            </div>
        </form>
    </div>
</div>
 *@